$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
// sidebar
//$menuBg:#22252f;
$subMenuBg:#303849;
$menuHover:#030303;
// custom
$appText: #5f6165;
$appTextDark: #333;
$appLabel: #606266;
$appFocus: #409eff;
//Theme Color alt
$sidebar: #272a36;
$sidebarSub: #323644;
$sidebarHover:#030303;
$highlight: #EA2E49;
$textColor: #bfcbd9;
$activeTextColor: #F6F792;
$appBg2:#f7fffa;
// Theme Color neu
$appSidebar: #272a36;
$appSidebarSub: #303849;
$appHighlight: #EA2E49;
$appHighlight2: #F6F792;
$appTextLight:#D3D1D7;
$appBorder: #D3D1D7;
$appBg: #DBE7F1;
$color01: #97949B; //grey dark
$color01: #B6BFBC; //grey
$color01: #D3D1D7; //grey light